getrates/wsdl/getrates_ws.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://currency.training.convergys.com" xmlns:intf="http://currency.training.convergys.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://currency.training.convergys.com">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://currency.training.convergys.com">
   <element name="getCurrencyValue">
    <complexType>
     <sequence>
      <element name="fromCurrency" type="xsd:string"/>
      <element name="toCurrency" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCurrencyValueResponse">
    <complexType>
     <sequence>
      <element name="getCurrencyValueReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCurrencyValueRequest">

      <wsdl:part element="impl:getCurrencyValue" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCurrencyValueResponse">

      <wsdl:part element="impl:getCurrencyValueResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CurrencyConvertor">

      <wsdl:operation name="getCurrencyValue">

         <wsdl:input message="impl:getCurrencyValueRequest" name="getCurrencyValueRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCurrencyValueResponse" name="getCurrencyValueResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CurrencyConvertorSoapBinding" type="impl:CurrencyConvertor">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCurrencyValue">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCurrencyValueRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCurrencyValueResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CurrencyConvertorService">

      <wsdl:port binding="impl:CurrencyConvertorSoapBinding" name="CurrencyConvertor">

         <wsdlsoap:address location="http://localhost:8080/currencyLocal_ws/services/CurrencyConvertor"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>